@model IEnumerable<GamePlan.Models.ToDoList>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MainPage</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="https://kit.fontawesome.com/a0881bae07.js"></script>

    <style>
        .card {
            background-color: #fff475;
            padding-top: 5px;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 5px;
            display: inline-block;
            margin: 0 1rem 1rem 0;
            width: 100%
        }
        #blankCard {
            max-height: 80px
        }
        i {
            text-align: right
        }
        .card-title {
            width: 75%;
            text-align: left;
            display: inline-block
        }
        .card-item {
            width: 75%;
            text-align: left;
            display: inline-block
        }
        .checkboxes {
            width: 5%;
            margin-top: 0px;
            display: inline-block
        }
        .checkboxes2 {
            margin-top: 0px;
            display: inline-block;
            height: auto
        }
        .icons {
            width: 25%;
            text-align: right;
            display: inline-block;
        }
        a {
            color: black;
            text-decoration: none
        }
        .textbox {
            width: 70%;
            margin-top: 5px;
            margin-bottom: 10px
        }
        .submitBtn {
            width: 30%
        }
        #toDoList {
            columns: 3 200px;
            column-gap: 1rem;
            padding: 1rem
        }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Game Plan", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Events", "Index", "ToDoLists")</li>
                    <li>@Html.ActionLink("Weather", "Weather", "Home")</li>
                    <li>@Html.ActionLink("Recommended", "Recommended", "Events")</li>
                    <li>@Html.ActionLink("Notifications", "Index", "EmailNotify")</li>
                    <li>@Html.ActionLink("Invitations", "Invites", "Events")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div id="toDoList"></div>

<script type="text/javascript">
    $(document).ready(function () {
        var json = @Html.Raw(Json.Encode(@Model));        
        getCollection(json);
    });

    function getCollection(collection) {        
        for (var i = 0; i <= collection.length - 1; i++) {
            createCard(i, collection[i].Title, collection[i].Id);
            var events = collection[i].Events;            
            if (events.length > 0) {
                for (var j = 0; j <= events.length - 1; j++) {
                    createListItem(i, j, events[j]);
                }
                createTextBox(i, events[0].ToDoListId);
            }
            else {
                createTextBox(i, collection[i].Id)
            }
        }
        createBlankCard();
	}	

    function createBlankCard() {
        var card = $('<div class="card" id="blankCard"><h5><b class"card-title">Create New List</b></h5></div>');
        var toDoListForm = '<form action="/action_page.php" id="blankCardForm"></form>';
        var newToDoListTextBox = '<input type="text" id="blankCardTextBox" class="textbox" value="Add"><span><input type="button" id="blankCardSbtBtn" class="submitBtn" value="Submit"></span>';
        $('#toDoList').append(card);
        document.getElementById("blankCard").innerHTML += toDoListForm;
        document.getElementById("blankCardForm").innerHTML += newToDoListTextBox;
        $("#blankCardSbtBtn").on('click', function () {
            var newToDoList = {
                Title: $("#blankCardTextBox").val(),
                Category: $("#blankCardTextBox").val()
            };
            createToDoList(newToDoList);
            document.location.reload();
        });
    }

	function createCard(cardNum, cartTitle, listId) {
		var cardId = "toDoCard" + cardNum;
        var formId = "toDoListForm" + cardNum;
        var editActionLink = '<a href="/ToDoLists/Edit/' + listId + '"><i class="far fa-edit"></i></a>';
        var deleteActionLink = '<a href="/ToDoLists/Delete/' + listId + '"><i class="far fa-trash-alt"></i></a>';
        var card = $('<div class="card" id="' + cardId + '"><h5 class="card-title"><b>' + cartTitle + "</b></h5><span class='icons'>" + editActionLink + " " + deleteActionLink + '</span></div>');
        var toDoListForm = '<form action="/action_page.php" id="' + formId + '"></form>';        
		$('#toDoList').append(card);
		document.getElementById(cardId).innerHTML += toDoListForm;
	}

    function createListItem(cardNum, eventNum, event) {
		var formId = "toDoListForm" + cardNum;
        var eventId = "toDoListItem" + cardNum + eventNum;
        var mapActionLink = '<a href="/Events/Map/' + event.Id + '"><i class="fas fa-map-pin"></i></a>';
        //var emailActionLink = '<a href="/EmailNotify/SendReminder/' + event.Id + '">Email</a>';
        var deleteActionLink = '<a href="/Events/Delete/' + event.Id + '"><i class="far fa-trash-alt"></i></a>';
        var editActionLink = '<a href="/Events/Edit/' + event.Id + '"><i class="far fa-edit"></i></a>';
        var checkboxId = "checkbox" + event.Id + "";
        if (!event.Complete) {
            var toDoListItem = '<div class="card-item"><div class="checkboxes2"><input type="checkbox" id="' + checkboxId + '" ></div> <span id="content' + eventId + '"><a href = "/Events/Details/' + event.Id + '">' + event.Description + '</a>' + " " + '</span></div><span class="icons">' + mapActionLink + " " + editActionLink + " " + deleteActionLink + '</span><br>';
        }
        else {
            var toDoListItem = '<div class="card-item"><div class="checkboxes2"><input type="checkbox" id="' + checkboxId + '" checked></div> <span id="content' + eventId + '"><a href = "/Events/Details/' + event.Id + '"><strike>' + event.Description + '</strike></a>' + " " + '</span></div><span class="icons">' + mapActionLink + " " + editActionLink + " " + deleteActionLink + '</span><br>';
        }
        document.getElementById(formId).innerHTML += toDoListItem;
        $(document).on('change', "#" + checkboxId + "", function () {
                completeEvent(event.Id, event.Description, event.Lat, event.Lng, event.EmailNotification, event.Invite, event.Temp, event.Complete, event.Date, event.ToDoListId);            
        });
    }

    function createTextBox(cardNum, toDoListId) {
        var formId = "toDoListForm" + cardNum;
        var textBoxId = "newEventTextBoxfor" + cardNum;
        var newEventSubmitId = "newEventSubmit" + cardNum;
        var newEventTextBox = '<input type="text" id="' + textBoxId + '"class="textbox" value="Add"><span><input type="button" id="' + newEventSubmitId + '" class="submitBtn" value="Submit"></span>';
        document.getElementById(formId).innerHTML += newEventTextBox;
        $("#" + newEventSubmitId + "").on('click', function () {
            var newEvent = {
                Description: $("#" + textBoxId + "").val(),
                ToDoListId: toDoListId
            };
            createEvent(newEvent);
            document.location.reload();
        });
    }

    function createToDoList(newToDoList) {
        $.ajax({
            type: "POST",
            data: JSON.stringify(newToDoList),
            url: "http://localhost:49757/api/ToDoLists",
            contentType: "application/json"
        }).done(function (res) {
            console.log('res', res);
        });
    }

    function createEvent(newEvent) {
        $.ajax({
            type: "POST",
            data: JSON.stringify(newEvent),
            url: "http://localhost:49757/api/Events",
            contentType: "application/json"
        }).done(function (res) {
            console.log('res', res);
            });
    }

    function completeEvent(id, description, lat, lng, emailNotification, invite, temp, complete, date, toDoListId) {        
        if (complete == false) {
            var updatedEvent = { Id: id, Description: description, Lat: lat, Lng: lng, EmailNotification: emailNotification, Invite: invite, Temp: temp, Complete: true, Date: date, ToDoListId: toDoListId };
        }
        else {
            var updatedEvent = { Id: id, Description: description, Lat: lat, Lng: lng, EmailNotification: emailNotification, Invite: invite, Temp: temp, Complete: false, Date: date, ToDoListId: toDoListId };
        }
        $.ajax({
            type: "PUT",
            data: JSON.stringify(updatedEvent),
            url: "http://localhost:49757/api/Events",
            contentType: "application/json"
        }).done(function (res) {
            console.log('res', res);
            document.location.reload();
        });
    }

</script>
</body>
</html>


